@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body,
html {
    --dark-accent-color: #025863;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    color: #555;
    line-height: 1.6;
    
}

/* Header styling */
header {
    background-color: var(--dark-accent-color);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Image styling */
.map {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section headers */
h2 {
    font-size: 1.8em;
    color: var(--dark-accent-color);
    text-align: center;
    margin: 20px 0 10px;
}

/* Paragraph styling */
p {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0 auto 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* List styling */
ul {
    list-style-type: none;
    padding: 10px 20px;
    margin: 0 auto 20px;
    max-width: 800px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Nested list styling for details */
ul ul {
    padding-left: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* List item styling */
li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

/* Highlight for strong labels */
li strong {
    color: var(--dark-accent-color);
    font-weight: 700;
}

/* Responsive design */
@media (max-width: 768px) {
    ul {
        padding: 10px 15px;
    }

    h2 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    ul {
        padding: 10px;
    }
}